.mainTitle {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: solid 4px;
}

.mainTitle > h1 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.mainTitle > h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.mainFlowBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 40px;
}

.mainBlock {
    width: 700px;
    border: #000000 solid 7px;
    border-radius: 7px;
}

.mainBlockTitle {
    border-bottom: solid 7px;
}

.mainBlockTitle > h2 {
    padding: 10px;
    font-size: 35px;
    color: #ffffff;
}

.mainExistingItem {
    border-image: linear-gradient(to right, #00000000 0%, #6D2A96 50%, #00000000 100%) 1;
    border-bottom: solid 4px;
}
.mainNewStart > h3 {
    padding: 10px;
    font-size: 25px;
    color: #ffffff;
}