.taskbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
}

.taskButton {
    background-color: #000000;
    height: 60px;
    border: none;
}

.taskButton:hover {
    background-color: #222222;
}

.taskButton > a {
    padding: 14px;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
}

.taskButton > a:hover {
    color: #ffffff;
}

.activeTaskButton {
    background-color: #ff8cff;
}

.activeTaskButton:hover {
    background-color: #ff8cff;
}